.container {

    box-shadow: 0 3px 3px #ccc;
    padding: 20px;
    display: flex;
}

.title {
    font-family: 'bold';
    margin: 0;
}

.navLink {

    text-decoration: none;
    margin-right: 10px;
}

.navLink:first-of-type {
    margin-left: auto;
}

.navLink img {
    width: 22px;
}